.score-board-section {
    grid-area: score-board;
    display: grid;
    grid-template-areas: "score-counter" "title"   "player-stats";
    grid-auto-rows: 1fr 1fr 1fr;
}


.score-name {
    text-transform: capitalize;
}