.score-board-section {
    grid-area: score-board;
    display: grid;
    grid-template-areas: "player-stats score-counter";
    grid-auto-columns: 1fr 1fr;
}


.score-name {
    text-transform: capitalize;
}