.grid {
    width: 600px;
    height: 600px;
}

.row {
    height: 60px;
}

.square {
    height: 60px;
    display: inline-block;
    width: 60px;
    background-color: red;
    border: 2px solid black;
    color: red;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}