@keyframes winning-announcement {
    0% {
        font-size: 12px;
    }
    80% {
        font-size: 70px;
    }
    100% {
        font-size: 60px;
    }
}


.grid {
    position: relative;
    border-radius: 20px;
    z-index: 1;
}

.row-grid {
}

.square-grid {
    position: relative;
    height: 60px;
    display: inline-block;
    width: 60px;
    background-color: red;
    border: 2px solid black;
    color: red;
    font-size: 30px;
    font-weight: 700;
}

.blackSquare {
    background-color: black;
}

.whiteSquare {
    background-color: white;
}

.piece {
    /* is relative to the first parent that has position set to relative */
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.selected-piece {
    transform: translate(-50%, -60%);
    box-shadow: 0 10px 0 0 rgba(255, 255, 255, 0.5);
}

.legal-square {
    outline: 3px solid greenyellow;
    z-index: 1;
}

.user1-piece {
    background-color: red;
}

.user2-piece {
    background-color: lightblue;
}

.winner-announcement {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    animation: winning-announcement  3s forwards;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    padding: 10px 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    text-transform: capitalize;
    z-index: 2;
}

.play-again-btn {
    text-align: center;
    /* padding: 10px 5px; */
    background-color: orangered;
    justify-self: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
}

.user1-name {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
}

.user2-name {
    position: absolute;
    bottom: -30px;
    left: 50%;
    text-transform: capitalize;
    transform: translateX(-50%);
}