.main-container {
    display: grid;
    grid-template-areas: 
    ". header"
    "score-board checker-board"
    ". .";
    grid-template-rows: 100px 1fr 100px;
    column-gap: 50px;
    background-color: #b2edfcff;
    justify-content: center;
}