.reset-box {
    grid-area: reset-box;
    justify-self: end;
    align-self: end;
    padding-bottom: 10px;
}

.logo-reset {
    width: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .5);
}

.logo-reset:hover {
    box-shadow: 2px 6px 1px 1px rgba(0, 0, 0, .5);

    transform: translateY(-2px);
}