.landing-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(540px, 1fr) 1fr;
    grid-template-areas: 
    ". logo ."
    ". user-form ."
    ". leaderboard .";
    background-color: #b2edfcff;

}

.scores-table-container {
    grid-area: leaderboard;
    justify-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #b2edfcff;
    overflow: hidden;
}

.logo-landing {
    grid-area: logo;
    width: 300px;
    justify-self: center;
    padding-top: 40px;
}


.scores-table {
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, .5); */
    background-color: #b2edfcff;
    box-sizing: content-box; /* So the width will be 100% + 17px */
    padding-right: 117px; /* Increase/decrease this value for cross-browser compatibility */

}

.user-name {
    justify-self: start;
}

.user-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 80px 80px 180px;
}

.user-row0 {
    background-color: #b2edfcff;
    color: black;
}

.user-row1 {
    background-color: #b2edfcff;
    color: black;
    background-image: linear-gradient(rgba(149, 186, 212, 0.5),rgba(149, 186, 212, 0.5));
}

.player1-form {
    grid-area: user-form;
    align-self: start;
    justify-self: center;
    /* box-shadow: 10px 5px 10px rgba(0, 0, 0, .5); */
}


